* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  min-height: 100vh;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.logo {
  height: 60px;
  line-height: 60px;
  color: #12334e;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
  padding-left: 20px;
}

#toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: purple;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#toggle::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#toggle::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#toggle.active::before {
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
  -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
}

#toggle.active {
  background: #f7226a;
}

#navbar {
  position: relative;
  height: 60px;
  right: 60px;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 0px;
  overflow: hidden;
}

#navbar.active {
  width: 660px;
}

#navbar ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  color: #12334e;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 15px;
  letter-spacing: 2px;
}

#navbar ul li a:hover {
  color: #fff;
  background: purple;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*section*/
section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  font-size: 1.2em;
  font-weight: 300;
}

/*main content*/
.main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.main_content .big_text {
  color: #12334e;
  text-align: left;
  margin-left: 90px;
  margin-top: 300px;
}

.main_content .big_text p {
  line-height: 40px;
}

.main_content img {
  width: 500px;
  height: 70vh;
}

.btn {
  background-color: #ff8800;
  margin-right: 400px;
  padding: 10px 20px 10px;
  border-radius: 2em;
}

.btn:hover {
  background-color: #fff;
  color: #ff8800;
  border: solid 2px black;
}

/*Responsive header*/
@media (max-width: 991px) {
  #navbar {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navbar.active {
    height: calc(100vh - 60px);
    bottom: 0;
    width: 100%;
  }
  #navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_content .big_text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(991px - 90px);
  }
  .main_content img {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */